<!--Nav Section-->
<a href="/" class="logo"><i class="fab fa-asymmetrik"></i></i> Group1</a>


  <nav class="navbar navbar-expand-lg navbar-light bg-#537895">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
         <a class="nav-link" href="/home"> <i class="fas fa-home"></i> Home</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="/about"> <i class="fas fa-info"></i> About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/survey-app"> <i class="fas fa-address-card"></i>Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"> <i class="fas fa-mobile-alt"></i> Contact</a>
      </li>
    </ul>
  </nav>