<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>



  <!-- about section -->
<section class="about" id="about">
    <h2 class="heading"> About Us</h2>

   

  <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>


