<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>

  

  <!-- Main Content -->
  <div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Site Survey</h1>
            <p> Welcome to our site survey. Please Login or Register
                to do the survey.
            </p>
        </div>
    </div>
    <div class="right">
     <h5>Login or register</h5>  
     <p>Create or login to your account</p> 
     <div class="input">
        <input type="text" placeholder="username">
        <br>
        <br>
        <input type="password" placeholder="password">
     </div>
     <br>
     <hr>
     <br>
    <button><a href="#">Login</a></button> 
    
    <button><a href="/login/register">Register</a></button> 
    </div>
</div>
  
<div>
    <br>
 <!--footer Section-->
 <%- include partials/footer.ejs  %>
</div>
  <!--Script Section-->

<%- include partials/scripts.ejs  %>








